* {  /*{{{1*/
	font-style:normal;
	font-weight: inherit;
	text-decoration:none;
	text-align:left;
	margin:0;
	padding:0;
	}

body {
	color:black;
	background-color:#fdfdfd;
	font-size:100%;
	padding:1em;
        font-weight: normal;
}

h1 {
	color:#111111;
	background-color:#ededed;
	font-style:italic;
	font-weight:bold;
	text-align:right;
	border-style:solid;
	border-color:#111111;
	border-width:thin medium medium thin;
	margin:0 0 1em 0;
	padding:0.2em 1em 0.2em 1em;
	}

h2 {
	color:gray;
	background-color:#fdfdfd;
	text-align:center;
	font-weight:bold;
	border-color:gray;
	border-style:solid;
	border-width:0 0 thick 0;
	margin:1em 0 0.5em 0;
	padding:0 0.5em;
	}

h3 {
	color:gray;
	background-color:#fdfdfd;
	font-weight:bold;
	border-color:gray;
	border-style:solid;
	border-width:thin 0 thin 0;
	margin:1em 0 0.5em 0;
	padding:0 1em;
	}

h4 {
	color:#696969;
	background-color:#fdfdfd;
	font-weight:bold;
	border-color:silver white white silver;
	border-style:solid;
	border-width:thin;
	margin:0.5em 0 0.5em 0;
	padding:0.2em 0.2em 0.2em 0.5em;
	}

h5 {
	color:#2f4f4f;
	background-color:#fdfdfd;
	font-weight:bold;
	font-style:italic;
	border-color:#2f4f4f;
	border-style:dotted;
	border-width:1px 0 0 0;
	margin:0.5em 0 0.5em 0;
	padding:0.2em 0.2em 0.2em 1em;
	}

h6 {
	color:gray;
	background-color:#fdfdfd;
	font-weight:bold;
	margin:0.5em 0 0.5em 0;
	padding:0 1em;
	}

p {
	margin:0.5em 1em 0 1em;
	}

pre {
	margin:0.5em 1em 0 1em;
	padding:0.5em;
	border-style:double;
	border-color:green;
	border-width:3px;
	white-space:pre;
	}

address {
	color:gray;
	background-color:#ececec;
	text-align:right;
	border-style:solid;
	border-color:gray;
	border-width:thin 0 thin 0;
	margin:1em 0;
	padding:0.4em;
	}

ul,ol {
	}

li {
	margin:0.3em 0 0 2em;
	}

dl {
	margin:1em;
	}

hr {
	margin:1em 0 0 0;
	}

em {
	color:black;
	background-color:#ffffcc;
	border-style:none none dashed none;
	border-width:thin;
	border-color:red;
	padding:1px 0.5em;
	}

strong {
	color:red;
	background-color:#fdfdfd;
	border-color:maroon;
	border-width:thin;
	border-style:none none double none;
	padding:1px 0.5em 0 0.5em;
	}

small {
	font-size:0.75em;
	}

big {
	font-size:2em;
	}

q {
	quotes:"「" "」";
	color:maroon;
	background-color:transparent;
	}

q:before {
	content:open-quote;
	}

q:after {
	content:close-quote;
	}

cite {
	color:black;
	background-color:#eeeeee;
	text-decoration:none;
	quotes:"[" "]";
	}

cite:before {
	content:open-quote;
	}

cite:after {
	content:close-quote;
	}


samp {
	color:navy;
	background-color:white;
	}

code {
	color:green;
	background-color:white;
	}

dfn {
	color:black;
	background-color:yellow;
	}

abbr {
	color:green;
	background-color:transparent;
	border-style:none none dotted none;
	border-width:thin;
	border-color:green;
	}

acronym {
	color:green;
	background-color:transparent;
	border-style:none none dashed none;
	border-width:thin;
	border-color:green;
	}

kbd {
	color:gray;
	background-color:#fefefe;
	border-style:dotted;
	border-width:thin;
	border-color:gray;
	}


del {
	text-decoration:line-through;
	}

ins {
	text-decoration:underline;
	}




body	{  /*{{{1*/
	line-height:130%;
	}

p	{
	line-height:150%;
	}

h1,h2,h3,h4,h5,h6	{
	line-height:120%;
	}

h1	{
	font-size:200%;
	}

h2	{
	font-size:175%;
	}

h3	{
	font-size:150%;
	}

h4	{
	font-size:125%;
	}

h5	{
	font-size:100%;
	}

h6	{
	font-size:100%;
	}

a img {
	border:none;
	}

dt {
	color:#646484;
	background-color:#efefef;
	margin:0.25em 0;
	padding:0.125em 1em;
	}

dd {
	margin:0.25em 0 0.25em 1em;
	}


blockquote {
	border-style:none none none double;
	border-width:3px;
	border-color:maroon;
	margin:0.5em 1em;
	}




a:link, a:visited, a:hover, a:active, a:focus {  /*{{{1*/
	background-color:transparent;
	border-width:thin;
	border-style:none none solid none;
	}

a:link {
	color:blue;
	border-color:blue;
	}
a:visited {
	color:gray;
	border-color:gray;
	}
a:hover {
	color:maroon;
	border-color:red;
	}
a:active {
	color:red;
	border-color:red;
	}
a:focus {
	color:green;
	border-color:red;
	}




table {  /*{{{1*/
	margin-right:auto;
	margin-left:auto;
	border-width:medium 0;
	border-style:solid hidden;
	border-color:black;
	border-collapse:collapse;
	border-spacing:0;
	empty-cells:show;
	padding:0.2em;
	}

caption {
	color:black;
	background-color:#fdfdfd;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	}

th,td {
	padding:0.2em;
	border-style:solid;
	border-width:thin;
	border-color:#bbbbbb;
	background-color:#fdfdfd;
	}

th {
	color:#545474;
	text-align:center;
	}

thead th,tfoot th,tfoot td {
	background-color:#ededed;
	}




/* Site-local {{{1*/

a.time {color: #333;  text-decoration: none;  border: none;}
a.image {text-decoration: none;  border: none;}

tr.invalid * {color: #fcc;  font-weight: bolder;}
tr.join * {color: #999;}
tr.msg {color: #000;}
tr.nick * {color: #999;}
tr.part * {color: #999;}
tr.topic {color: #666;}  tr.topic .text .topic  {font-weight: bolder;}
tr.unsupported * {color: #999;  font-weight: bolder;}




/* vim: set foldmethod=marker : {{{1 */
